$body-font-family: Estedad !important;

//panel
// $background-item-panel: rgb(63, 63, 131);
$background-item-panel: #f7f7f8;
$margin-mx: auto;
$text-center: center;
$text-right: right;
$text-left: left;
$justify-center: center;
$justify-flex-start: flex-start;
$color-text: #444;
$color-title: #001100;
// $color-text: yellow;
$background-active-panel: blueviolet;
$border-radius: 8px;
$color-hr: #e0e0e0;
